* {
 	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
	/* Colors */
	--light-indigo: color-mix(in srgb, var(--indigo) 60%, white);
	--indigo: rgb(70, 20, 255);
	--dark-indigo: color-mix(in srgb, var(--indigo) 65%, black);

	--light-blue: color-mix(in srgb, var(--blue) 60%, white);
	--blue: rgb(20, 70, 255);
	--dark-blue: color-mix(in srgb, var(--blue) 65%, black);

	--light-yellow: color-mix(in srgb, var(--yellow) 60%, white);
	--yellow: rgb(255, 180, 50);
	--dark-yellow: color-mix(in srgb, var(--yellow) 65%, black);

	/* Font Size */
	--fs-1: 2.986rem;
	--fs-2: 2.488rem;
	--fs-3: 2.074rem;
	--fs-4: 1.728rem;
	--fs-5: 1.44rem;
	--fs-6: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter Tight', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
}

h1 { font-size: var(--fs-1); }
h2 { font-size: var(--fs-2); }
h3 { font-size: var(--fs-3); }
h4 { font-size: var(--fs-4); }
h5 { font-size: var(--fs-5); }
h6 { font-size: var(--fs-6); }



@media (min-width: 768px) and (max-width: 1023px) { 
	
}

@media (min-width: 1024px) { 
	
}